<meta charset="utf-8">
<title>Passport</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="js/bootstrap.min.js">
<!-- HTTPS required. HTTP will give a 403 forbidden response -->
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #7a95b3;
  }
</style>