<div class="box">
  <form action="index.html" method="post">
    <h1>Login</h1>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Login">
  </form>

  <div class="social-box">
    <div class="row mg-btm">
      <div class="col-md-12">
        <a href="#" class="btn btn-primary btn-block">
          <i class="icon-facebook"></i>    Login with Facebook
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="btn btn-info btn-block">
          <i class="icon-twitter"></i>    Login with Twitter
        </a>
      </div>
    </div>
  </div>
</div>
